.style-Fourteen {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.style-Fourteen * {
  box-sizing: border-box;
}
.style-Fourteen li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}
.style-Fourteen li:before,
.style-Fourteen li:after {
  display: block;
}
.style-Fourteen li:before {
  bottom: 0%;
}
.style-Fourteen li:after {
  bottom: 75%;
}
.style-Fourteen a {
  backface-visibility: hidden;
  color: #e6e6e6;
  display: block;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.style-Fourteen a:before {
  bottom: 25%;
}
.style-Fourteen a:after {
  bottom: 50%;
}
.style-Fourteen a:hover {
  color: #ffffff;
}
.style-Fourteen li:before,
.style-Fourteen li:after,
.style-Fourteen a:before,
.style-Fourteen a:after {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, rgb(168, 0, 119), rgb(102, 255, 0)) repeat scroll
    0% 0%;
  position: absolute;
  height: 25%;
  width: 100%;
  left: 0;
  content: "";
  z-index: -1;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.style-Fourteen li:hover:before,
.style-Fourteen li.current:before,
.style-Fourteen li:hover:after,
.style-Fourteen li.current:after,
.style-Fourteen li:hover a:before,
.style-Fourteen li.current a:before,
.style-Fourteen li:hover a:after,
.style-Fourteen li.current a:after {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.style-Fourteen li:hover:before,
.style-Fourteen li.current:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.style-Fourteen li:hover:after,
.style-Fourteen li.current:after {
  -webkit-transition-delay: 0.225s;
  transition-delay: 0.225s;
}
.style-Fourteen li:hover a:before,
.style-Fourteen li.current a:before {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.style-Fourteen li:hover a:after,
.style-Fourteen li.current a:after {
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s;
}

