{% extends "pages/richtextpage.html" %}

{% block main %}
<!--
This template is provided as a custom template for the homepage, for
when it is configured as an editable page in the navigation tree. Feel
free to modify it.
-->

      <div class="intro">

      <div class="container">
        <div class="content">
          <div class="row">
            <div class="col-md-7">

              <div class="vertical-center">
                <span class="intro-head">Latest news</span>
                <a class="slider-link" href="home-space.html#">
                  <h1 class="slider-caption">My angel face is falling, feathers are falling on my feet</h1>
                </a>
                <a class="prev">
                  <i class="ion ion-chevron-left"></i>
                </a>
                <a class="next">
                  <i class="ion ion-chevron-right"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>



    <div class="posts container">
      <div class="row">
        <div class="col-sm-4">
          <section class="post">
            <div class="caption">
              <span class="post-tag">Missions</span>
              <h2><a href="post-image.html" class="post-title">Leave it alone</a></h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              <br />
              <br />
              Cum sociis natoque penatibus et magnis dis parturient montes magnis dis parturient montes, nascetur ridiculus mus. Aenean commodo <a href="home-space.html#">ligula eget dolor</a>.</p>
              <a class="post-share" href="home-space.html#"><i class="ion ion-android-share-alt"></i></a>
              <span class="post-date"><i class="ion ion-android-time"></i> <span class="slant">7 March 2016</span></span>
            </div>
          </section>
          <div class="parallax-window post">
            <img alt="" src="{% static 'img/photos/space/unsplash-10.jpg' %}" class="img-responsive" />
          </div>
          <section class="post">
            <div class="caption">
              <span class="post-tag">Missions</span>
              <h2><a href="post-image.html" class="post-title">Stay near your television</a></h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              <br />
              <br />
              <a href="home-space.html#">Cum sociis natoque</a> penatibus et magnis dis parturient montes magnis dis parturient montes, nascetur ridiculus mus. Aenean commodo ligula eget dolor.</p>
              <a class="post-share" href="home-space.html#"><i class="ion ion-android-share-alt"></i></a>
              <span class="post-date"><i class="ion ion-android-time"></i> <span class="slant">27 January 2016</span></span>
            </div>
          </section>
          <div class="post">
            <img alt="" src="{% static 'img/photos/space/unsplash-3.jpg' %}" class="img-responsive" />
          </div>
        </div>
        <div class="col-sm-4">
          <section class="post">
            <img alt="" src="{% static 'img/photos/space/unsplash-6.jpg' %}" class="img-responsive" />
            <div class="caption">
              <span class="post-tag">News</span>
              <h2><a href="post-image.html" class="post-title">Killers are calling on me</a></h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
              <a class="post-share" href="home-space.html#"><i class="ion ion-android-share-alt"></i></a>
              <span class="post-date"><i class="ion ion-android-time"></i> <span class="slant">2 March 2016</span></span>
            </div>
          </section>
          <section class="post">
            <div class="caption">
              <h2><a href="post-image.html" class="post-title">Can you tie my string?</a></h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              <br />
              <br />
              Cum sociis natoque penatibus et magnis dis parturient montes magnis dis parturient montes, nascetur ridiculus mus. Aenean commodo <a href="home-space.html#">ligula eget dolor</a>.</p>
              <a class="post-share" href="home-space.html#"><i class="ion ion-android-share-alt"></i></a>
              <span class="post-date"><i class="ion ion-android-time"></i> <span class="slant">16 February 2016</span></span>
            </div>
          </section>
          <section class="post">
            <img alt="" src="{% static 'img/photos/space/unsplash-9.jpg' %}" class="img-responsive" />
            <div class="caption">
              <h2><a href="post-image.html" class="post-title">Rainbow lights in the garden</a></h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
              <a class="post-share" href="home-space.html#"><i class="ion ion-android-share-alt"></i></a>
              <span class="post-date"><i class="ion ion-android-time"></i> <span class="slant">13 January 2016</span></span>
            </div>
          </section>
        </div>
        <div class="col-sm-4">
          <section class="post">
            <div class="caption">
              <h2><a href="post-image.html" class="post-title">My angel face is falling</a></h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. <a href="home-space.html#">Aenean massa.</a>
              <br />
              <br />
              Cum sociis natoque penatibus et magnis dis parturient montes magnis dis parturient montes, nascetur ridiculus mus. Aenean commodo ligula eget dolor.</p>
              <a class="post-share" href="home-space.html#"><i class="ion ion-android-share-alt"></i></a>
              <span class="post-date"><i class="ion ion-android-time"></i> <span class="slant">25 February 2016</span></span>
            </div>
          </section>
{{ block.super }}
{% endblock %}
