<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}
     <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.css">
    {% compress css %}
        <!-- Vendor Styles -->

    <link href="{% static  'css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static  'css/animate.css' %}" rel="stylesheet">
    <link href="{% static  'css/slippry.css' %}" rel="stylesheet">
      <link href="{% static  'css/menu.css' %}" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="{% static  'css/libre.css' %}" rel="stylesheet">
    <link href="{% static  'css/libre-themes.css' %}" rel="stylesheet">
    <link href="{% static  'css/custom.css' %}" rel="stylesheet">

    <script src="{% static 'js/pace.min.js' %}"></script>



        <!-- Vendor Styles -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">

        <!-- Theme Styles -->
        <link href="{% static 'css/ada.css' %}" rel="stylesheet">
        <link href="{% static 'css/ada-themes.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">

        <!-- Themeswitcher - REMOVE THIS LINE -->
        <link href="{% static 'css/themeswitcher.css' %}" rel="stylesheet">

        <!-- HTML5 shiv for IE8 support -->
        <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
        <script src="{% static 'js/parallax.js' %}"></script>
        <script src="{% static  'js/slippry.min.js' %}"></script>
        <script src="{% static  'js/main.js' %}">

        {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

    {% block extra_head %}{% endblock %}
<script src="{% static "css/normalize.css" %}"></script>
</head>

<body id="{% block body_id %}body{% endblock %}">

<header class="navbar-dark navbar-fixed-top">
		<div class="navbar-inner">
<ul class="style-Fourteen fixed-top">
  <li class="current"><a href="#">Главная</a></li>
  <li><a href="#"></a></li>
  <li><a href="#">Blog</a></li>
  <li><a href="#">Реестр сортов конопли</a></li>
    <li><a href="#">Наука и конопля</a></li>
    <li><a href="#">Культура и история</a></li>
  <li><a href="#">Курительная утварь</a></li>
  <li><a href="#">Контакты</a></li>

</ul>
			<div class="container">
			     <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
			    <a id="logo" class="pull-left" href="index.html" alt"{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}{% endif %}"></a>
		<div class="nav-collapse collapse pull-right">

		</div>
		</div>
		</div>
	</header>
{% block all_content %}

<div class="container-fluid">
<div class="row">

<div class="container-fluid col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="container-fluid col-md-7 middle">
    {% block main %}{% endblock %}
</div>

<div class="container-fluid col-md-3 right">
    {% nevercache %}
    {% include "includes/language_selector.html" %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
    </div>
</div>

</div>
</div>


 {% endblock %}
<footer>

            <p class="site-info text-center">
                {% trans "Powered by" %}
                <a>BG Brothers LTD, 2010-2018</a>{% ifinstalled cartridge.shop %},
                <a href="//blowgrow.com.ua">BlowGrow</a>{% endifinstalled %}

</footer>

{% block footer_js %}
    <!-- Vendor Scripts -->
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/smoothScroll.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
   <script src="{% static 'js/slippry.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/parallax.js' %}"></script>


    <!-- Page specific scripts -->
    <script>

      var slider;

      $(function(){
        slider = $('#intro-slider').slippry({
          // General elements & wrapper
          slippryWrapper: '<div class="sy-box intro-slider" />',

          // Options
          auto: true,
          autoHover: false,
          loop: true,
          captionsSrc: 'li',
          captions: 'custom',
          captionsEl: '.slider-caption',
          controls: false,

          // Transitions
          transition: 'kenburns', // fade, horizontal, kenburns, false
          continuous: true,
          speed: 5500,

          // Events
          onSlideBefore: function (slide, old_index, new_index) {
            onSlideBefore(slide, old_index, new_index);
            return this;
          }
        });
      });
    </script>

    <!-- Themeswitcher - REMOVE THIS LINE -->
    <script src="{% static 'js/themeswitcher.js' %}"></script>

    <!-- YouTube/Video Background -->
    <script src="{% static 'js/jquery.youtubebackground.js' %}"></script>
    <script>
        $(function () {
            $('.player').YTPlayer({
                fitToBackground: true,
                videoId: '9d8wWcJLnFI'
            });
        });
    </script>

    <!-- Themeswitcher - REMOVE THIS LINE -->
    <script src="{% static 'js/themeswitcher.js' %}"></script>
    <!-- Theme Scripts -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Themeswitcher - REMOVE THIS LINE -->
    <script src="{% static 'js/themeswitcher.js' %}"></script>

    {% include "includes/footer_scripts.html" %}
{% endblock %}

</body>
</html>
