{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
    <div class="header post video">

      <div class="player"></div>

      <div class="vertical-center">
        <div class="container">
          <div class="content">
            <span class="post-tag"></span>
            <h1>Если государство отбирает право на жизнь</h1>
            <span class="post-date slant">Человек волен сам выбрать орудие борьбы за жизнь</span>
          </div>
        </div>
      </div>

    </div>

<h2>Здраствуй!</h2>
<p>
    Если ты здесь значит тебе надоел кухонный бульбулятор, майки-алкоголички средний возраст, в котором, сука, порабы бы уже набраться, если yt ума и биткоинов, так хотя бы КУЛЬТУРЫ.</p> ты таешь безвольной свечей под гнетом онкологического пламени.</p>
<p> Jahmelier </p>
{% endblocktrans %}
{% endblock %}
