<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}


{% compress css %}



      <!-- FAVICON -->
      <link rel="shortcut icon" href="{% static  'assets/images/favicon.png' %}">

      <!-- CSS:: FONTS -->
      <link href="//fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

      <!-- CSS:: MAIN -->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
   



{% block extra_css %}{% endblock %}
{% endcompress %}
 <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">



{% compress js %}
      <!-- JQUERY:: JQUERY.JS -->
      <script src="{% static 'assets/js/jquery.min.js' %}"></script>

      <!-- JQUERY:: BOOTSTRAP.JS -->
      <script src="{% static 'assets/js/tether.min.js' %}"></script>
      <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

      <!-- JQUERY:: ZOOM SLIDER.JS -->
      <script src="{% static 'assets/js/plugins/lightbox/simple-lightbox.min.js' %}"></script>

      <!-- JQUERY:: ISOTOPE.JS -->
      <script src="{% static 'assets/js/plugins/isotop/isotope.min.js' %}"></script>
      <script src="{% static 'assets/js/plugins/isotop/imagesloaded.min.js' %}"></script>

      <!-- JQUERY:: CUSTOM.JS -->
      <script src="{% static 'assets/js/custom.js' %}"></script>

{% block extra_js %}{% endblock %}
{% include "includes/footer_scripts.html" %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">



<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
				{% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
            </div>
            <div class="collapse navbar-collapse">
               {% page_menu "pages/menus/dropdown.html" %}
                </ul>
            </div>
        </div>
    </header><!--/header-->
          <div class="b-page_title b-page_title_default text-center">
            <h1 class="b-entry_title"><span>Lifestyle</span></h1>
            <div class="b-breadcrumbs">
              <a href="index.html">Home</a>
              <span>Blog Fullwidth</span>
            </div>
          </div>


<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}




</div>
{% block top %}
<section class="emerald" id="title">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>{% block title %}{% endblock %}</h1>
                    
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        {% spaceless %}
							{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
						{% endspaceless %}
                    </ul>
                </div>
            </div>
        </div>
   </section>
{% endblock %}


    {% block left_panel %}
    
    {% endblock %}





 
   
    

</footer>
 <script src="{% static "js/jquery.prettyPhoto.js" %}"></script>
 <script src="{% static "js/jquery.isotope.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>
