{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}

      <section id="b-blog_fullwidth">
              <div class="container">
                <div class="row clearfix">
                  <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
                    <div class="b-blog_default b-blog_grid b-blog_default_list b-blog_full">
                      <div class="b-blog_degault_single">
                         <div class="b-blog_single_info text-center">
                              <div class="b-blog_single_header">
                                <div class="b-post_categories mb-2 d-relative">
                                   <div class="b-post_categorie_list">
                                      <a href="#" rel="category tag">Lifestyle</a>
                                   </div>
                                </div>
                              </div>
                              <h3 class="b-entry_title">
                                  <a href="#" rel="bookmark">Venenatis veulum peus</a>
                              </h3>
                              <div class="b-author_info pb-1">
                                  <span class="b-author_name">
                                      By <a href="#" rel="author">V. Harrison</a>
                                  </span>
                                  <span class="b-reply">
                                      <a href="#">Leave a comment</a>
                                  </span>
                              </div>
                         </div>
                         <div class="b-blog_single_header">
                              <div class="b-blog_img_wrap">
                                  <a href="#">
                                      <img src="assets/images/blog/home/blog_default_01.jpg" class="img-fluid" alt="">
                                  </a>
                              </div>
                              <div class="b-post_time text-center">
                                  <span class="b-post_day">08</span>
                                  <span class="b-post_month">Aug</span>
                              </div>
                          </div>
                          <div class="b-blog_single_info">
                              <div class="b-blog_single_content text-center pt-3">
                                  <p>Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros congue ullamcorper suspendisse a penatibus a varius. Montes a platea viva mus ridiculus consequat parturient parturient pretium nascetur at cras porta parturient scelerisque ad mollis at in vivamus risus. Euismod maecenas.</p>
                              </div>
                          </div>
                          <div class="b-read_more text-center">
                              <a href="#">Read More</a>
                          </div>
                          <div class="b-blog_social">
                            <ul class="list-unstyled clearfix mb-0">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                          </div>
                      </div>
                      <div class="b-blog_degault_single">
                         <div class="b-blog_single_info text-center">
                              <div class="b-blog_single_header">
                                <div class="b-post_categories mb-2 d-relative">
                                   <div class="b-post_categorie_list">
                                      <a href="#" rel="category tag">Lifestyle</a>,
                                      <a href="#" rel="category tag">Travel</a>
                                   </div>
                                </div>
                              </div>
                              <h3 class="b-entry_title">
                                  <a href="#" rel="bookmark">Non vestibulum lacus sociosqu hac</a>
                              </h3>
                              <div class="b-author_info pb-1">
                                  <span class="b-author_name">
                                      By <a href="#" rel="author">V. Harrison</a>
                                  </span>
                                  <span class="b-reply">
                                      <a href="#">Leave a comment</a>
                                  </span>
                              </div>
                         </div>
                         <div class="b-blog_single_header">
                              <div class="b-blog_img_wrap">
                                  <a href="#">
                                      <img src="assets/images/blog/home/blog_default_02.jpg" class="img-fluid" alt="">
                                  </a>
                              </div>
                              <div class="b-post_time text-center">
                                  <span class="b-post_day">24</span>
                                  <span class="b-post_month">May</span>
                              </div>
                          </div>
                          <div class="b-blog_single_info">
                              <div class="b-blog_single_content text-center pt-3">
                                  <p>Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros congue ullamcorper suspendisse a penatibus a varius. Montes a platea viva mus ridiculus consequat parturient parturient pretium nascetur at cras porta parturient scelerisque ad mollis at in vivamus risus. Euismod maecenas.</p>
                              </div>
                          </div>
                          <div class="b-read_more text-center pt-3">
                              <a href="#">Read More</a>
                          </div>
                          <div class="b-blog_social">
                            <ul class="list-unstyled clearfix mb-0">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                          </div>
                      </div>
                      <div class="b-blog_degault_single">
                         <div class="b-blog_single_info text-center">
                              <div class="b-blog_single_header">
                                <div class="b-post_categories mb-2 d-relative">
                                   <div class="b-post_categorie_list">
                                      <a href="#" rel="category tag">Travel</a>
                                   </div>
                                </div>
                              </div>
                              <h3 class="b-entry_title">
                                  <a href="#" rel="bookmark">Leo placerat ac a dis</a>
                              </h3>
                              <div class="b-author_info pb-1">
                                  <span class="b-author_name">
                                      By <a href="#" rel="author">V. Harrison</a>
                                  </span>
                                  <span class="b-reply">
                                      <a href="#">Leave a comment</a>
                                  </span>
                              </div>
                         </div>
                         <div class="b-blog_single_header">
                              <div class="b-blog_img_wrap">
                                  <a href="#">
                                      <img src="assets/images/blog/home/blog_default_03.jpg" class="img-fluid" alt="">
                                  </a>
                              </div>
                              <div class="b-post_time text-center">
                                  <span class="b-post_day">29</span>
                                  <span class="b-post_month">Jun</span>
                              </div>
                              <div class="b-post_categories">
                                 <div class="b-post_categorie_list">
                                    <a href="#" rel="category tag">Lifestyle</a>
                                 </div>
                              </div>
                          </div>
                          <div class="b-blog_single_info">
                              <div class="b-blog_single_content text-center pt-3">
                                  <p>Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros congue ullamcorper suspendisse a penatibus a varius. Montes a platea viva mus ridiculus consequat parturient parturient pretium nascetur at cras porta parturient scelerisque ad mollis at in vivamus risus. Euismod maecenas.</p>
                              </div>
                          </div>
                          <div class="b-read_more text-center">
                              <a href="#">Read More</a>
                          </div>
                          <div class="b-blog_social">
                            <ul class="list-unstyled clearfix mb-0">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                          </div>
                      </div>
                      <div class="b-blog_degault_single">
                         <div class="b-blog_single_info text-center">
                              <div class="b-blog_single_header">
                                <div class="b-post_categories mb-2 d-relative">
                                   <div class="b-post_categorie_list">
                                      <a href="#" rel="category tag">Lifestyle</a>,
                                      <a href="#" rel="category tag">Travel</a>
                                   </div>
                                </div>
                              </div>
                              <h3 class="b-entry_title">
                                  <a href="#" rel="bookmark">Cum fames a cras dictumst</a>
                              </h3>
                              <div class="b-author_info pb-1">
                                  <span class="b-author_name">
                                      By <a href="#" rel="author">V. Harrison</a>
                                  </span>
                                  <span class="b-reply">
                                      <a href="#">Leave a comment</a>
                                  </span>
                              </div>
                         </div>
                         <div class="b-blog_single_header">
                              <div class="b-blog_img_wrap">
                                  <a href="#">
                                      <img src="assets/images/blog/home/blog_default_04.jpg" class="img-fluid" alt="">
                                  </a>
                              </div>
                              <div class="b-post_time text-center">
                                  <span class="b-post_day">17</span>
                                  <span class="b-post_month">Aug</span>
                              </div>
                          </div>
                          <div class="b-blog_single_info">
                              <div class="b-blog_single_content text-center pt-3">
                                  <p>Susp endisse ullam corper a adipiscing class ullam corper inceptos nisl consequat eros congue ullamcorper suspendisse a penatibus a varius. Montes a platea viva mus ridiculus consequat parturient parturient pretium nascetur at cras porta parturient scelerisque ad mollis at in vivamus risus. Euismod maecenas.</p>
                              </div>
                          </div>
                          <div class="b-read_more text-center">
                              <a href="#">Read More</a>
                          </div>
                          <div class="b-blog_social">
                            <ul class="list-unstyled clearfix mb-0">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>



	<section id="testimonial" class="alizarin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h2>What our clients say</h2>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->


{% endblock %}

